body{
    background-color: #37AB2D;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.cheerio {
    margin: 0;
    padding: 0px;
}

.cheerio h1{
    font-size: 3.5em;
    font-weight: bold;
}

.cheerio h2{
    font-size: 1em;
}

#googleMap {
    width:75%;
    height: 400px;  
    margin-left: 12.5%;
}